<i class="close icon"></i>
<div class="header">
  Create User
</div>
<div class="content">
  <div class="ui form">
    <div class="field">
      <label>Username</label>
      {{input type="text" value=model.username}}
    </div>
    <div class="field">
      <label>Email</label>
      {{input type="text" value=model.email}}
    </div>
    <div class="field">
      <label>Roles</label>
      {{#ui-dropdown class="fluid multiple selection" selected=model.roles onChange=(action (mut model.roles))}}
        <div class="default text">Roles</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each roles as |role|}}
            <div class="item" data-value="{{role}}">
              {{role}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
  </div>
  {{#if hasValidationErrors}}
  <div class="ui error message">
    <div class="header">We had some issues</div>
    <ul class="list">
      {{#each-in validation.errors as |key message| }}
      <li>{{message}}</li>
      {{/each-in}}
      {{#if validation.serverError}}
      <li>{{validation.serverError}}</li>
      {{/if}}
    </ul>
  </div>
  {{/if}}
</div>
<div class="actions">
  <div class="two fluid ui inverted buttons">
    <button class="ui red basic button" {{action 'no'}}> <!-- onclick="{{action 'no'}}" -->
      <i class="remove icon"></i>
      Cancel
    </button>
    <div class="ui green basic button" {{action 'yes'}}>
      <i class="checkmark icon"></i>
      Accept
    </div>
  </div>
</div>