<!-- Application menu -->
<!-- TODO Extract to a separate component -->
<div class="ui secondary menu">
  {{#link-to "logs" class="item"}}
    Logs
  {{/link-to}}
  {{#link-to "platform-config" class="item"}}
    Financial Config
  {{/link-to}}
  {{#link-to "coms-fees" class="item"}}
    Commissions &amp; Fees
  {{/link-to}}
  {{#link-to "user-mgt" class="item"}}
    Users
  {{/link-to}}
  {{#link-to "member-mgt" class="item"}}
    Members
  {{/link-to}}
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>

{{outlet}}

{{outlet "modal"}}
