<div class="ui container">
  <h1 class="ui dividing header">Commissions and Fees</h1>
</div>

{{! outlet }}
<div class="ui container grid">

  <div class="four wide column">
    <div class="ui vertical menu">
      <a class="active item">
        Current profile
      </a>
      <a class="item">
        June 2017
      </a>
      <a class="item">
        May 2017
      </a>
      <a class="item">
        Mar 2017
      </a>
      <a class="item">
        Feb 2017
      </a>
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui segment">
      <h4 class="ui header">Sell Order Commission</h4>
      <p>How much we charge traders for posting a sell order</p>
      <div class="ui form">
        <div class="inline fields">
          <div class="six wide field">
            <label>ETH Sell Order</label>
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Value in ETH">
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Value in USD">
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h4 class="ui header">Premium Services</h4>
      <p>We could be crazy with the special services scheme! Charge people so that they could get an upper hand!</p>
      <div class="ui form">
        <div class="inline fields">
          <div class="six wide field">
            <label>Aggregate News Service</label>
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Value in ETH">
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Value in USD">
          </div>
        </div>
        <div class="inline fields">
          <div class="six wide field">
            <label>Smart Deal Service</label>
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Value in ETH">
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Value in USD">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
