<div class="ui container">
  <h1 class="ui dividing header">Transaction Logs</h1>
</div>

<div class="ui container grid two column">
  <div class="four wide column">
    <div class="ui vertical menu">
      <a class="active teal item">
        Inbox
        <div class="ui teal left pointing label">1</div>
      </a>
      <a class="item">
        Spam
        <div class="ui label">51</div>
      </a>
      <a class="item">
        Updates
        <div class="ui label">1</div>
      </a>
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search mail...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui relaxed divided list">
      <div class="item">
        <i class="large github middle aligned icon"></i>
        <div class="content">
          <a class="header">Semantic-Org/Semantic-UI</a>
          <div class="description">Updated 10 mins ago</div>
        </div>
      </div>
      <div class="item">
        <i class="large github middle aligned icon"></i>
        <div class="content">
          <a class="header">Semantic-Org/Semantic-UI-Docs</a>
          <div class="description">Updated 22 mins ago</div>
        </div>
      </div>
      <div class="item">
        <i class="large github middle aligned icon"></i>
        <div class="content">
          <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
          <div class="description">Updated 34 mins ago</div>
        </div>
      </div>
    </div>
  </div>
</div>
