<div class="ui container">
  <h1 class="ui dividing header">Platform Members</h1>
</div>

<div class="ui container grid two column">
  <div class="four wide column">
    <div class="ui vertical menu">
      <a class="active teal item">
        Active members
      </a>
      <a class="item">
        Sponsors
      </a>
      <a class="item">
        Banned List
      </a>
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search member...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
    <div class="ui vertical menu">
      <div class="item">
        <div class="header">Public relation</div>
        <a class="item">Newsletters</a>
        <a class="item">Social networks</a>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui very relaxed list">
      <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
        <div class="content">
          <a class="header">Daniel Louise</a>
          <div class="description">Last seen watching <a><b>Arrested Development</b></a> just now.</div>
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/stevie.jpg">
        <div class="content">
          <a class="header">Stevie Feliciano</a>
          <div class="description">Last seen watching <a><b>Bob's Burgers</b></a> 10 hours ago.</div>
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/elliot.jpg">
        <div class="content">
          <a class="header">Elliot Fu</a>
          <div class="description">Last seen watching <a><b>The Godfather Part 2</b></a> yesterday.</div>
        </div>
      </div>
    </div>
  </div>
</div>
