<div class="ui container">
  <h1 class="ui dividing header">Financial Config</h1>
</div>

{{! outlet }}
<div class="ui container grid">

  <div class="four wide column">
    <div class="ui vertical menu">
      <a class="active item">
        Current profile
      </a>
      <a class="item">
        June 2017
      </a>
      <a class="item">
        May 2017
      </a>
      <a class="item">
        Mar 2017
      </a>
      <a class="item">
        Feb 2017
      </a>
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui segment">
      <h4 class="ui header">Supported Currencies</h4>
      <p class="grey">All exchange rates are relative to USD</p>
      <p class="grey">Rates are subject to changes without prior notice.</p>
      <div class="ui form">
        <div class="inline fields">
          <div class="eight wide field">
            <label>VND</label>
            <input type="text" placeholder="Currency name">
          </div>
          <div class="three wide field">
            <input type="text" placeholder="Symbol">
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Exchange rate">
          </div>
        </div>
        <div class="inline fields">
          <div class="eight wide field">
            <label>SGD</label>
            <input type="text" placeholder="Currency name">
          </div>
          <div class="three wide field">
            <input type="text" placeholder="Symbol">
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Exchange rate">
          </div>
        </div>
      </div>
    </div>

    <div class="ui segment">
      <h4 class="ui header">Our Rates</h4>
      <div class="ui form">
        <h4 class="ui dividing header">USD</h4>
        <div class="inline fields">
          <div class="six wide field">
            <label>ETH</label>
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Buy at">
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Sell at">
          </div>
        </div>
        <div class="inline fields">
          <div class="six wide field">
            <label>BTC</label>
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Buy at">
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Sell at">
          </div>
        </div>

        <h4 class="ui dividing header">VND</h4>
        <div class="inline fields">
          <div class="six wide field">
            <label>ETH</label>
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Buy at">
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Sell at">
          </div>
        </div>
        <div class="inline fields">
          <div class="six wide field">
            <label>BTC</label>
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Buy at">
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Sell at">
          </div>
        </div>

        <h4 class="ui dividing header">SGD</h4>
        <div class="inline fields">
          <div class="six wide field">
            <label>ETH</label>
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Buy at">
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Sell at">
          </div>
        </div>
        <div class="inline fields">
          <div class="six wide field">
            <label>BTC</label>
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Buy at">
          </div>
          <div class="five wide field">
            <input type="text" placeholder="Sell at">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
