<div class="ui container">
  <h1 class="ui dividing header">User Management</h1>
</div>

<div class="ui container grid two column">
  <div class="four wide column">
    <div class="ui vertical wide menu">
      {{#link-to 'user-mgt' (query-params q=undefined) class="item"}}
        All users
      {{/link-to}}
      {{#link-to 'user-mgt' (query-params q="roles:administrator") class="item"}}
        Administrators
      {{/link-to}}
      {{#link-to 'user-mgt' (query-params q="roles:moderator") class="item"}}
        Moderators
      {{/link-to}}
      {{#link-to 'user-mgt' (query-params q="roles:editor") class="item"}}
        Content Editor
      {{/link-to}}
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search user...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>

    <div class="ui vertical wide menu">
      <a class="item" {{action "showModal" "eth-create-user"}}>
        Create user
      </a>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui very relaxed list">
      {{#each model.users as |user| }}
      <div class="item">
        <img class="ui avatar image" src="https://dummyimage.com/128x128/000/fff.gif&text=AVAR">
        <div class="content">
          <a class="header">{{user.username}}</a>
          <div class="description">
            {{user.roles}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="ui horizontal link list">
      <a class="item" {{action "viewMore" }}>
        View more
      </a>
      <a class="item">
        Page size: {{paging.size}}
      </a>
    </div>
  </div>
</div>

{{component "eth-create-user" onSuccess=(action "refresh")}}